/* This file is for your main application css. */
@import 'font-awesome';

#organizer-msg-window {
  min-width: 20%;
  height: 5em;
  border-radius: 100px;
  border: solid #ffffff;
  display: inline-block;
  text-align: center;
}

#wanna-speak {
  font-size: 100px;
  position: absolute;
  margin-left: 22px;
  margin-top: 7px;
}

#wanna-speak-border {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: inline-block;
  border: 6px solid #ffffff;
}

#wanna-speak-border-green {
  border-style: solid;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: inline-block;
  border-color: #ffffff;
  border-width: 6px;
}

#wanna-speak-border-red {
  border-style: solid;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: inline-block;
  border-color: #ffffff;
  border-width: 6px;
}

#wanna-speak-border-hide {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: inline-block;
}

#participant-mic-icons {
  height: 150px;
  display: inline-block;
}

.fa-microphone {
  color: #ffffff;
}

.fa-microphone-green {
  color: #ffffff;
}

.fa-microphone-red {
  color: #ffffff;
}

.loader {
  display: inline-block;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: #46b8da;
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  opacity: 0;
  margin-left: -127px;
  margin-bottom: 4px;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

#home-display-name {
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
}

#page-header-name {
  text-align: center;
  //background-color: #4696e5;
}

#moderator-layout-view {
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#moderator-layout-table {
  width: 55%;
  display: inline-block;
  margin-right: 2%;
  margin-left: 1%;
}

#moderator-layout-controls {
  width: 40%;
  display: inline-block;
}

#th-center {
  text-align: center;
}

#moderator-layout-view-title {
  text-align: center;
}

#participant-mic-position {
  margin-left: 35%;
}

.connect-box{
  padding: 3%;
  display: block;
}

/* Overriden header from template */
#custom-header {
  background-color: #4696e5;
  color: #d0e4f8;
  padding: 4.5em 0 2.5em 0 ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("images/overlay.png"), url("images/pattern-size1.svg");
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  //height: 100vh;
  min-height: 40em;
  width: 100%;
  margin-top: 45px;
}

#custom-header input[type="submit"],
#custom-header input[type="reset"],
#custom-header input[type="button"],
#custom-header button,
#custom-header .button {
  background-color: transparent;
  color: #ffffff !important;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
}

#custom-header input[type="submit"]:hover,
#custom-header input[type="reset"]:hover,
#custom-header input[type="button"]:hover,
#custom-header button:hover,
#custom-header .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

#custom-header input[type="submit"]:active,
#custom-header input[type="reset"]:active,
#custom-header input[type="button"]:active,
#custom-header button:active,
#custom-header .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#custom-header input[type="submit"].special,
#custom-header input[type="reset"].special,
#custom-header input[type="button"].special,
#custom-header button.special,
#custom-header .button.special {
  box-shadow: none;
  background-color: #ffffff;
  color: #4696e5 !important;
}

#custom-header label {
  color: #ffffff;
}

#custom-header input[type="text"],
#custom-header input[type="password"],
#custom-header input[type="email"],
#custom-header select,
#custom-header textarea {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
  max-width: 40%;
  min-width: 30%;
  margin-left: 30%;
}

#custom-header input[type="text"]:focus,
#custom-header input[type="password"]:focus,
#custom-header input[type="email"]:focus,
#custom-header select:focus,
#custom-header textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

#custom-header .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

#custom-header input[type="checkbox"] + label,
#custom-header input[type="radio"] + label {
  color: #d0e4f8;
}

#custom-header input[type="checkbox"] + label:before,
#custom-header input[type="radio"] + label:before {
  background-color: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-header input[type="checkbox"]:checked + label:before,
#custom-header input[type="radio"]:checked + label:before {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #4696e5;
}

#custom-header input[type="checkbox"]:focus + label:before,
#custom-header input[type="radio"]:focus + label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

#custom-header ::-webkit-input-placeholder {
  color: #b5d5f4 !important;
}

#custom-header :-moz-placeholder {
  color: #b5d5f4 !important;
}

#custom-header ::-moz-placeholder {
  color: #b5d5f4 !important;
}

#custom-header :-ms-input-placeholder {
  color: #b5d5f4 !important;
}

#custom-header .formerize-placeholder {
  color: #b5d5f4 !important;
}

#custom-header .icon {
  color: #b5d5f4;
}

#custom-header .image {
  box-shadow: 0 0 0 4px #4696e5, 0 0 0 5px rgba(255, 255, 255, 0.25);
}

#custom-header .image.phone {
  box-shadow: none;
}

#custom-header .image.phone .inner, #custom-header .image.phone:before, #custom-header .image.phone:after {
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-header .image.phone .inner:before {
  background: rgba(255, 255, 255, 0.25);
}

#custom-header .image.phone .inner:after {
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-header ul.alt > li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

#custom-header table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
  text-align: center;
}

#custom-header table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

#custom-header table th {
  color: #ffffff;
}

#custom-header table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

#custom-header table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

#custom-header table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-header input, #custom-header select, #custom-header textarea {
  color: #d0e4f8;
}

#custom-header a {
  color: inherit;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

#custom-header strong, #custom-header b {
  color: #ffffff;
}

#custom-header h1, #custom-header h2, #custom-header h3, #custom-header h4, #custom-header h5, #custom-header h6 {
  color: #ffffff;
}

#custom-header blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

#custom-header code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-header hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

#custom-header h1 {
  font-size: 3.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#custom-header p {
  font-size: 1.5em;
  line-height: 1.35em;
}

#custom-header p br {
  display: inline;
}

#custom-header .content {
  -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  text-align: right;
  margin: -3.5em 4em 0 0;
}

#custom-header .content > :last-child {
  margin-bottom: 0;
}

#custom-header .image {
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#custom-header .image img {
  -moz-transition: opacity 0.75s ease;
  -webkit-transition: opacity 0.75s ease;
  -ms-transition: opacity 0.75s ease;
  transition: opacity 0.75s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  opacity: 1;
}

@media screen and (max-width: 1280px) {

  #custom-header {
    background-image: url("images/overlay.png"), url("images/pattern-size2.svg");
  }

}

@media screen and (max-width: 980px) {

  #custom-header {
    height: auto;
    min-height: 0;
  }

  #custom-header .content {
    margin: -2em 4em 0 0;
  }

}

@media screen and (max-width: 980px) and (orientation: portrait) {

  #custom-header {
    padding: 6em 3em 4em 3em ;
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  #custom-header .content {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 2em 0;
  }

  #custom-header .image {
    overflow: hidden;
  }

}

@media screen and (max-width: 736px) {

  #custom-header {
    background-image: url("images/overlay.png"), url("images/pattern-size3.svg");
  }

  #custom-header h1 {
    font-size: 2em;
  }

  #custom-header p {
    font-size: 1em;
    line-height: inherit;
  }

}

@media screen and (max-width: 736px) and (orientation: landscape) {

  #custom-header {
    padding: 2em 2em 0.1em 2em ;
  }

  #custom-header .content {
    margin: 0 2em 2em 0;
  }

  #custom-header .image {
    font-size: 0.8em;
    width: 15em;
    max-width: 20vw;
  }

  #custom-header .image .inner, #custom-header .image:before, #custom-header .image:after {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 736px) and (orientation: portrait) {

  #custom-header {
    padding: 3em 1.5em 1em 1.5em ;
  }

  #custom-header .image {
    font-size: 0.6em;
    max-width: 60vw;
  }

}

@media screen and (max-width: 480px) and (orientation: landscape) {

  #custom-header {
    padding: 2em 1.5em 0.1em 1.5em ;
  }

  #custom-header .image {
    font-size: 0.7em;
  }

  #custom-header .actions {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 480px) and (orientation: portrait) {

  #custom-header {
    padding: 2em 1em 0.1em 1em ;
  }

}

body.is-mobile #custom-header {
  background-attachment: scroll, scroll;
}

body.is-loading #custom-header .content {
  -moz-transform: translateX(2em);
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);
  opacity: 0;
}

body.is-loading #custom-header .image {
  -moz-transform: translateY(4em);
  -webkit-transform: translateY(4em);
  -ms-transform: translateY(4em);
  transform: translateY(4em);
  opacity: 0;
}

body.is-loading #custom-header .image img {
  opacity: 0;
}

@media screen and (max-width: 980px) and (orientation: portrait) {

  body.is-loading #custom-header .content {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
  }

  body.is-loading #custom-header .image {
    -moz-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
  }

}

form {
  text-align: center;
}

.custom-alert {
  width: 100%;
  z-index: -1;
  position: absolute;
}